@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.2rem;
}

p {
  margin: 7px 0;
  font-weight: 400;
  line-height: 1.7em;
  font-size: 1.1rem;
}

code {
  background-color: rgb(255, 228, 230);
}
